<div *ngIf="appointmentSelectorsData$ | async as appointmentSelectorsData; else loadingTemplate" class="scrollable-container">
  <div class="date-header-container">
    <div *ngFor="let fechaData of appointmentSelectorsData" class="date-selector">
      <div class="date-header">{{ fechaData.fecha | date: 'dd/MM/yyyy' }}</div>
    </div>
  </div>
  <div class="time-slots-container" >
    <div *ngFor="let fechaData of appointmentSelectorsData" class="appointment-selector">
      <div *ngFor="let DatosTabla of fechaData.DatosTabla">
        <div class="time-slot" *ngFor="let horario of DatosTabla.horarios" (click)="asignarNuevoTurno(horario.IdTurno, horario.Hora)">
          <div class="time-slot-content">{{ horario.Hora }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingTemplate>
  Loading...
</ng-template>
