<div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Informe</h5>
      </div>
        <div>
            <pdf-viewer [src]="data"
                         [render-text]="true"
                         [rotation]="0"
                         [fit-to-page]="true"
                         [original-size]="true"
                         [show-all]="true"
                         ></pdf-viewer>
        </div>
    </div>
</div>
