.item-row {
  display: flex;
  justify-content: space-between;
}

.center-btn {
  text-align: center;
  width: 100%;
}

.center-btn button {
    font-size: 20px; 
    padding: 10px 20px;
  }

  .linea {
    border: none;
    border-top: 2px solid #000;
    margin: 10px 0;
  }

  .center {
    width: 100%;
  }
  
  .center p {
    text-align: right;
  }